/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------- BASE & HELPERS ------------------- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: #6c7680;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 10px;
}

b, .bold {
  font-weight: 700;
}

.clearfix:after {
  display: table;
  content: '';
  clear: both;
}

.clear {
  clear: both;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.txt-center {
  text-align: center;
}

.container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px; 
}

/* --------------- HEADER ------------------- */

header {
  background: #303b44;
  color: rgb(215, 226, 234);
  height: 80px;
}

header h1 {
  font-size: 22px;
}

header h1 a {
  color: rgb(215, 226, 234);
  text-decoration: none;
}

header h1 a .ico {
  font-size: 14px;
  opacity: .7;
}

header h1 a:hover,
header h1 a:focus,
header h1 a:active {
  text-decoration: underline;
} 

header h1 a:hover .ico,
header h1 a:focus .ico,
header h1 a:active .ico {
  opacity: 1;
}

.container.container-header {
  width: 1600px;
}

/* --------------- header placeholder ------------------- */
header .placeholder {
  display: block;
  height: 25px;
  width: 300px;
  background: #fff;
  opacity: 0.3;
  border-radius: 5px;
}

header .placeholder.ph-date {
  height: 16px;
  width: 170px;
}

/* --------------- MAIN ------------------- */

.main {
   background: #fafafa;
}

.main > div {
  min-height: calc(100vh - 80px);
}

.settings-panel {
  width: calc(50% - 160px);
}

/* --------------- THREAD ------------------- */

.content-comments {
  width: calc(50% + 160px);
  background: #f0f3f5;
  border-left: 1px solid rgb(209, 220, 228);
  margin: 0;
}

.container-thread, .container-settings {
  max-width: 100%;
}

.container-thread {
  padding: 30px;
  width: 640px;
}

/* --------------- ISSUE BODY ------------------- */

.issue-body h2{
  font-size: 18px;
  margin-top: 15px;
  max-width: calc(100% - 65px);
}

.issue-body h2 a {
  color: #40464d;
  text-decoration: none;
}

.issue-body h2 a .ico {
  font-size: 12px;
  opacity: .7;
}

.issue-body h2 a:hover,
.issue-body h2 a:active,
.issue-body h2 a:focus {
  text-decoration: underline;
}

.issue-body h2 a:hover .ico,
.issue-body h2 a:active .ico,
.issue-body h2 a:focus .ico {
  opacity: 1;
}

/* --------------- avatar ------------------- */

.avatar-user, .placeholder.ph-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
}

.placeholder.ph-avatar {
  background: #ccc;
  opacity: .5;
}

.avatar-user {
  position: relative;
  border: 3px solid white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transform: translate3d(0,0,0);
}

.avatar-user:after {
  content:'';
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  top: -3px;
  left: -3px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity .2s ease-in;
}

.avatar-user:hover:after,
.avatar-user:active:after,
.avatar-user:focus:after {
  opacity: 1;
}

.pull-left > .avatar-user, .avatar-user.pull-left  {
  margin-right: 15px;
}
.pull-right > .avatar-user {
  margin-left: 15px;
}

.avatar-user img {
  width: 100%;
  height: auto;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.list-comments > div {
  margin-bottom: 30px;
  max-width: 100%;
  width: initial;
}

.comment{
  min-height: 50px;
  border-radius: 10px;
  background: #f5fcff;
  width: calc(100% - 65px);
  max-width: 560px;
  padding: 20px;
  line-height: 1.3333;
  word-wrap: break-word;
}

.body-issue {
  margin-top: 10px;
}

.comment p a {
  color: #ef7f47;
}

.comment code {
  display: inline-block;
  background: #f8efed;
  padding: 1px 5px;
  font-size: 14px;
  line-height: 1.45;
  color: #303b44;
  border-radius: 3px;
  word-break: break-word;
}

.comment p:last-child {
  margin-bottom: 0;
}


.list-comments .commentsOther .comment {
  background: white;
}



/* ----------- SETTINGS PANEL ------------- */
.btn {
  background: none;
  border: 0;
  font: inherit;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  width: 100%;
  padding: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: color .2s ease-in, background-color .2s ease-in;
}

.btn-principal {
  color: #fff;
  background: #ef7f47;
  border: 2px solid #ef7f47;
}

.btn-principal:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.btn-principal:not(:disabled):hover,
.btn-principal:not(:disabled):active,
.btn-principal:not(:disabled):focus {
  background: #fff;
  color: #ef7f47;
}

.container-settings {
  padding: 30px;
  width: 320px;
  float: right;
}

.settings-panel form label {
  display: block;
}
.settings-panel form input {
  width: 100%;
  padding: 8px 5px;
}

/*---- UserFilter----*/
.userFilter {
  margin-top: 30px;
}

.userFilter input[type="checkbox"] {
  display: none;
}

.userFilter label {
  padding: 5px;
  transition: color .2s ease-in, background-color .2s ease-in;
  position: relative;
  text-indent: 20px;
  cursor: pointer;
}

.userFilter label:hover {
  background: #f0f3f5;
  color: #40464d;
}

.userFilter label:before, label:after{  
  display:block;
  position:absolute;
  cursor:pointer;
} 

.userFilter label:before {
  content:'';

  background-color: white;
  border-radius: 3px;
  border:1px solid #6c7680;
  width:16px;
  height:16px;
}

.userFilter label:after {
  opacity: 0;
  content:'\2714';
  color: #ef7f47;
  transition: opacity .2s ease-in;
  font-size:14px;
  font-size: 15px;
  top: 7px;
  left: 7px;
  text-indent: 0;
}

.userFilter input[type="checkbox"]:checked label {
  color: #ef7f47;
}

.userFilter input[type="checkbox"]:checked + label:after {
  opacity: 1;
}


/* --------- GRAPH -------- */
.container-graph {
  margin-top: 30px;
}

div.google-visualization-tooltip { 
  pointer-events: none;
} 

.color-box {
  display: inline-block;
  width: 30px;
  height: 10px;
  background: red;
  margin-right: 5px;
  border-radius: 3px;
}

.container-graph ul li {
  margin-bottom: 5px;
}

.container-graph ul li:first-child {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
}

.container-graph ul li span:first-child {
  width: calc(100% - 100px);
  word-break: break-all;
  padding-left: 5px;
}

.percent {
  font-weight: 400;
  font-size: 12px;
}

